# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/

# VSCode/OS
.vscode/
.DS_Store

# Env / Secrets
.env
.env.*

# Project logs & artifacts
logs/
!logs/.gitkeep

# Streamlit
.streamlit/secrets.toml
